@function rem($px) {
  @return $px / ($px * 0 + 1) / 37.5 * 1rem ;
}

$white:             #fff;        // 白色
$white-darker:      #FAFAFA;     // 深白色

$gray:              #CCC;        // 灰色
$gray-light:        #333;        // 浅灰色
$gray-dark:         #999;        // 深灰色

$dark:              #000;        // 黑色

$blue:              #0084FF;     // 蓝色

$danger:            #FF4040;     // 红色

$selected:          #ff6a3c;     // 选中色
