@import "./_reset";
@import "./_mixins";

@mixin flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@mixin textAlign($dir: left) {
  text-align: $dir;
}
@mixin ellipsis($width: 100%) {
  @if($width == 100%) {
    width: 100%;
  }
  @else{
    width: rem($width);
  }
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
 font-family: PingFang-Medium, PingFangSC-Regular, Helvetica;
}

.flex {
  @include flex;
}

.ellipsis {
  @include ellipsis;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: $dark;
  opacity: 0.6;
}

.toast {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 99;
  height: 40px;
  transition: all 1s;
  transform: translate(-50%, -50%);
  padding: 0 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  color: $white;
  line-height: 40px;
  text-align: center;
  font-size: rem(16);
  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
  }
}

.text-left {
  @include textAlign(left);
}
.text-center{
  @include textAlign(center);
}
.text-right {
  @include textAlign(right);
}

.btn {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  line-height: 40px;
  text-align: center;
}
